body {
    background-color: #27ae60;
}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: 75px;
    justify-items: center;
}

.container {
    box-sizing: border-box;
    width: 130px;
    height: 60px;
    padding: 10px;    
    border: 2px solid blue;
    text-align: center;
    color: #c0392b;
    background-color: #273c75;
    color: #ffff;
}
.container2 {
    box-sizing: border-box;
    width: 130px;
    height: 60px;
    padding: 10px;    
    border: 2px solid blue;
    text-align: center;
    color: #c0392b;
    background-color: #e17055;
    color: #ffff;
   
}

